@import '~bootstrap/scss/bootstrap.scss';

body {
	> nav,
	> main {
		opacity: 0;
		transition: opacity 232ms;
	}

	> main {
		margin-top: 1rem;
	}

	> #loading-spinner {
		@extend .bg-dark;

		display: flex;
		align-items: center;
		justify-content: center;

		transition: opacity 232ms;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;

		> [role='status'] {
			@extend .spinner-border;
			@extend .text-danger;
			@extend .display-4;
		}
	}

	&.bootstrapped {
		> nav,
		> main {
			opacity: 1;
		}

		> #loading-spinner {
			opacity: 0;
		}
	}
}

pre {
	min-height: 1.46rem;
}
