nav.sticky-top.bg-faded.navbar.navbar-light
	span.navbar-brand
		a(href="/")
			img.brand-img(src="images/branding/elevate.png" alt="ElevateCA")
		span.float-right
			span.navbar-text Hello, Admin!
			img.profile-img.rounded-circle(src="images/profile.jpg" alt="profile")
