.row
	.col-md-2.col-md-offset-4(style="margin-top:2em;")
		img.img-responsive.center-block(src="images/branding/tulare.png" alt="Tulare" style="margin-bottom:2em;")
	.col-md-2
		img.img-responsive.center-block(src="images/branding/ctc-seal.gif" alt="CTC Seal")
