.row.justify-content-center.align-items-center(style="padding: 3em;")
	.col-3
		img.img-responsive(src="images/branding/tulare.png" alt="Tulare")
	.col-2
		img.img-responsive(src="images/branding/ctc-seal.gif" alt="CTC Seal")
