.card
	.card-block(ng-switch="$ctrl.isEditing")
		div(ng-transclude="bodyView" ng-switch-when="false")
		div(ng-transclude="bodyEdit" ng-switch-when="true")

	.card-block.text-center
		button.btn.btn-sm(ng-class="'btn-outline-' + ($ctrl.isEditing ? 'success' : 'primary')" ng-click="!($ctrl.isEditing = !$ctrl.isEditing) && $ctrl.save($ctrl.model)")
			| {{$ctrl.isEditing ? ' Save' : ' Edit'}}
		| &nbsp;
		button.btn.btn-sm(ng-class="'btn-outline-' + ($ctrl.isEditing ? 'warning' : 'danger')" ng-click="$ctrl.isEditing ? $ctrl.restore($ctrl.model) : $ctrl.delete($ctrl.model, $index)")
			| {{$ctrl.isEditing ? ' Cancel' : ' Delete'}}
