.card(ng-switch="$ctrl.isEditing")
	.card-block.panel-view(ng-switch-when="false")
		ng-transclude(ng-transclude-slot="bodyView")
	.card-block.panel-view.text-center(ng-switch-when="false")
		button.btn.btn-sm.btn-outline-primary(ng-click="$ctrl.isEditing = true") Edit
		| &nbsp;
		button.btn.btn-sm.btn-outline-danger(ng-click="$ctrl.delete($ctrl.model, $index)") Delete

	.card-block.panel-view(ng-switch-when="true")
		ng-transclude(ng-transclude-slot="bodyEdit")
	.card-block.panel-view.text-center(ng-switch-when="true")
		button.btn.btn-sm.btn-outline-success(ng-click="!($ctrl.isEditing = false) && $ctrl.save($ctrl.model)") Save
		| &nbsp;
		button.btn.btn-sm.btn-outline-warning(ng-click="!($ctrl.isEditing = false) && $ctrl.restore($ctrl.model)") Cancel
