.panel.panel-default
	.panel-heading
		.col-lg-9
			h3(ng-if="$ctrl.isEditing == false") {{$ctrl.ngModel.Description}}
			input.form-control(ng-model="$ctrl.ngModel.Description" ng-if="$ctrl.isEditing == true")
		.col-lg-3(ng-click="$ctrl.isEditing = !$ctrl.isEditing")
			i.glyphicon(ng-class="'glyphicon-' + ($ctrl.isEditing ? 'ok' : 'pencil')" ng-click="$ctrl.save($ctrl.ngModel)")

	.panel-body
		ng-transclude(slot="bodyView" ng-if="$ctrl.isEditing == false")
		ng-transclude(slot="editView" ng-if="$ctrl.isEditing == true")

